* {
    margin:0%;
    color: black;
}

.container-fluid span{
    color: cyan;  
    font-weight: bold;
}

.container-fluid a{
    font-style: normal;
}
.title-icon{
    font-size: 20px;
    font-weight: italic;
}
p{
    font-size: 20px;

}
h2{
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}
a.font-black{
    color: black !important;
}
#about{
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}
#about img{
    border-radius: 50%;
    width: 40%;
}

#about span{
    color: cyan;

}

#about .skills{
    color: cyan;
    font-weight: bold;
}
#about h3{
    color: rgb(0, 0, 0);
}




#projects{
    color: black;
    font-style: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .btn-group .button {
    background-color: hsl(180, 1%, 42%); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5%;
  }
  .btn-group .button:hover {
    background-color: #202120;
  }






