* {
    margin:0%;
    color: black;
}

.container-fluid span{
    color: cyan;  
    font-weight: bold;
}

.container-fluid a{
    font-style: normal;
}
.title-icon{
    font-size: 20px;
    font-weight: italic;
}
p{
    font-size: 20px;

}
h2{
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

#about{
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}
#about img{
    border-radius: 50%;
    width: 40%;
}

#about span{
    color: cyan;

}

#about .skills{
    color: cyan;
    font-weight: bold;
}
#about h3{
    color: rgb(125, 125, 125);
}
#project{
    margin: 60px auto;
    width: 80%;
}
#project h2{
    text-align: center;
}
#project .card img{
    width: 100%; 
}
